:root {
    --color-main: #c81059;
    --color-main-opacity-10: #c8105a10;
    --color-additional: #0099c8;
    --color-background: #f2f6f8;
    --color-text: #2d2d2d;
    --color-text-grey: #555555;
    --color-text-grey-2: #ACACAC;
    --color-text-disabled: #333333;
    --color-white: #ffffff;

    --text-size-default: 16px;

    --text-size-h1: 40px;
    --text-size-h2: 35px;
    --text-size-h3: 25px;
    --text-size-h4: 20px;
    --text-size-h5: 16px;
    --text-size-h6: 16px;

    --text-weight-bold: 700;
    --text-weight-medium: 500;
    --text-weight-regular: 400;
}

@font-face {
    font-family: "CeraRoundPro";
    font-display: swap;
    src: url(../fonts/CeraRoundPro-Regular.woff2) format("woff2"), url(../fonts/CeraRoundPro-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    font-display: swap;
    src: url(../fonts/CeraRoundPro-Medium.woff2) format("woff2"), url(../fonts/CeraRoundPro-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    font-display: swap;
    src: url(../fonts/CeraRoundPro-Bold.woff2) format("woff2"), url(../fonts/CeraRoundPro-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "CeraRoundPro", sans-serif;
    font-size: var(--text-size-default);
    font-weight: var(--text-weight-regular);
    color: var(--color-text);
    letter-spacing: calc(1em / 50);
}

h1,
.h1 {
    font-size: var(--text-size-h1);
    font-weight: var(--text-weight-bold);
    line-height: 150%;
}

h2,
.h2 {
    font-size: var(--text-size-h2);
    font-weight: var(--text-weight-medium);
    line-height: 150%;
}

h3,
.h3 {
    font-size: var(--text-size-h3);
    font-weight: var(--text-weight-medium);
    line-height: 150%;
}

h4,
.h4 {
    font-size: var(--text-size-h4);
    font-weight: var(--text-weight-regular);
    line-height: 150%;
}

h5,
.h5 {
    font-size: var(--text-size-h5);
    font-weight: var(--text-weight-medium);
    line-height: 150%;
}

h6,
.h6 {
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-size-h6);
    font-weight: var(--text-weight-regular);
    line-height: 150%;
}

.container {
    position: relative;
    max-width: 900px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    width: 250px;
    font-weight: var(--text-weight-medium);
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 0;
    transition: 0.2s;
}

.btn--default {
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    color: var(--color-white);
}

.btn--default:hover {
    background-color: transparent;
    color: var(--color-main);
}

.btn--default.disabled {
    background-color: transparent;
    color: var(--color-text-disabled);
    border-color: var(--color-text-disabled);
}

.btn--blue {
    background-color: var(--color-additional);
    border: 1px solid var(--color-additional);
    color: var(--color-white);
}

.btn--blue:hover {
    color: var(--color-additional);
}

.btn--arrow-1 {
    color: var(--color-main);
}

.btn--arrow-2 {
    color: var(--color-main);
}

.btn--small {
    background-color: var(--color-main-opacity-10);
    color: var(--color-main);
    border-radius: 10px;
}

.btn--arrow-1 img,
.btn--arrow-2 img,
.btn--small img {
    margin-top: 2px;
    transition: 0.2s;
}

.btn--arrow-1:hover img,
.btn--arrow-2:hover img,
.btn--small:hover img {
    transform: translateX(5px);
}

li {
    line-height: 200%;
}

@media (max-width: 920px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .btn {
        font-size: 12px;
        padding: 12px 0;
    }

    h2, .h2 {
        font-size: 18px;
    }
}

/* Header */

.header {
    height: 80px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .header__hamburger-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        height: 50px;
    }

    .header__logo img {
        width: 135px;
    }
}

/* Hamburger menu */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color-text);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/* Hello */

.section-hello {
    background-color: var(--color-background);
    padding: 90px 0;
}

.hello {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello__content {
    width: 500px;
}

.hello__content > h1 {
    font-size: 30px;
}

.hello__content > ul {
    margin-top: 10px;
    color: var(--color-text-grey);
}

.hello__content > .btn {
    margin-top: 30px;
}

.hello__image img {
    max-width: 110%;
}

@media (max-width: 920px) {
    .hello__image img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .hello__content > h1 > br {
        display: none;
    }

    .hello__content > h1 {
        font-size: 20px;
    }

    
    .hello__content > ul > li {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .section-hello {
        padding: 10px 0;
    }

    .hello__content {
        width: 100%;
    }

    .hello {
        flex-direction: column-reverse;
        grid-gap: 10px 10px;
    }

    .hello__content > .btn {
        margin-top: 20px;
        width: 100%;
    }
}

/* Catalog */

.section-catalog {
    padding: 52px 0 55px 0;
    overflow-x: hidden;
}

.catalog {
    position: relative;
}

.catalog::after {
    content: "";
    position: absolute;
    top: 0;
    width: 3000px;
    margin-left: 125%;
    height: 105%;
    background-color: var(--color-white);
    z-index: 1;
}

.catalog > h1 {
    font-size: 28px;
}

.catalog-items {
    margin-top: 33px;
    display: flex;
    grid-gap: 30px 30px;
}

.catalog-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    margin-left: -3000px;
    width: 3000px;
    height: 105%;
    background-color: rgba(255, 255, 255, .6);
    z-index: 1;
}

.catalog-items::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1000px;
    margin-left: 82%;
    height: 105%;
    background-color: rgba(255, 255, 255, .6);
    z-index: 1;
}

.catalog-item {
    width: 66%;
    padding: 30px;
    flex: 0;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 #00000040;
}

.catalog-item__title {
    font-size: 20px;
    font-weight: 500;
}

.catalog-item__subtitle {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: var(--color-text-grey-2);
}

.catalog-item__speed {
    display: block;
    margin: 5px 0;
    font-size: 25px;
    font-weight: 500;
    color: var(--color-main);
}

.catalog-item__description {
    font-size: 13px;
    color: var(--color-text-grey);
    margin-top: 5px;
}

.catalog-item__additions {
    margin-top: 24px;
    display: flex;
    grid-gap: 10px 10px;
}

.catalog-item__addition {
    font-size: 14px;
}

.addition-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.addition-checkbox + label {
    display: flex;
    align-items: flex-start;
    user-select: none;
    grid-gap: 10px 10px;
    font-size: 14px;
}

.addition-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid #2D2D2D1A;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 65% 65%;
    transition: .2s;
}

.addition-checkbox + label:hover::before {
    border-color: var(--color-additional);
}

.addition-checkbox:checked + label::before {
    border-color: var(--color-additional);
    background-color: var(--color-additional);
    background-image: url("/assets/image/check-mark.svg");
}

.catalog-item__price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    grid-gap: 10px 10px;
}

.catalog-item__price-cost {

}

.catalog-item__price-description {
    color: var(--color-text-grey);
    opacity: .5;
}

.catalog-item__price-subtitle {
    font-size: 12px;
    color: var(--color-text-grey);
    opacity: .5;
}

.catalog-item__button {
    width: 100%;
    margin: 20px 0 auto;
}

.owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

@media (max-width: 768px) {
    .catalog-item {
        width: 60%;
    }

    .catalog-items::after {
        margin-left: 77%;
    }
} 

@media (max-width: 683px) {
    .catalog-item {
        width: 80%;
    }

    .catalog-items::after {
        margin-left: 90%;
    }
}

@media (max-width: 576px) {
    .catalog-items::before, .catalog-items::after {
        content: none;
    }

    .catalog-item {
        width: 70%;
    }

    .catalog-items {
        grid-gap: 10px 10px;
    }

    .section-catalog {
        padding: 35px 0 51px 0;
    }

    .catalog-items {
        margin-top: 20px;
    }

    .catalog-item {
        padding: 20px;
    }

    .catalog-item__title {
        font-size: 16px;
    }

    .catalog-item__subtitle {
        font-size: 10px;
    }

    .catalog-item__speed {
        font-size: 18px;
    }

    .catalog-item__description {
        font-size: 12px;
    }

    .addition-checkbox + label {
        font-size: 12px;
    }

    .catalog-item__additions {
        margin-top: 10px;
    }

    .catalog-item__price-cost {
        font-size: 25px;
    }

    .catalog-item__price-description {
        font-size: 14px;
    }

    .catalog-item__price-subtitle {
        font-size: 10px;
    }

    .catalog-item__button {
        margin-top: 10px;
    }
}

/* Ð¡onnection */

.section-connection {
    
}

.connection {
    background-color: var(--color-background);
    border-radius: 20px;
    padding: 50px 50px 86px 50px;
}

.connection > h2 {
    font-size: 28px;
}

.connection-form {

}

/* Form */

.form {

}

.form__tubs {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 20px;
}

.form__tub input[type="radio"] {
	display: none;
}

.form__tub label {
    display: inline-block;
	padding: 9px 40px;
    border: 1px solid #2D2D2D1A;
	border-radius: 10px;
    font-size: 12px;
	cursor: pointer;
	user-select: none;
}
 
.form__tub input[type="radio"]:checked + label {
    border-color: var(--color-additional);
    color: var(--color-additional);
}

.form__fields {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    grid-gap: 30px;
}

.form__fields input[type="text"] {
    padding: 12px 25px;
    border-radius: 2px;
}

.form__fields .btn {
    width: 25%;
}

.form__field {
    background-color: var(--color-white);
    font-size: 12px;
}

.form__field::placeholder {
    color: #2d2d2d4D;
}

.form__field-name {
    width: 25%;
}

.form__field-phone {
    width: 50%;
}

.form__field-submit {

}

.form__data-processing {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.data-processing__content {
    font-size: 14px;
    color: #989898;
    margin-top: 2px;
}

.data-processing__content a {
    text-decoration: underline;
    color: currentColor;
}

.data-processing__content a:hover {
    text-decoration: none;
}

.data-processing__content--mobile {
    display: none;
    font-size: 12px;
}

@media (max-width: 768px) {
    .connection {
        padding: 20px 10px;
    }

    .section-connection .container {
        padding: 0;
    }

    .form__fields {
        flex-wrap: wrap;
        /* flex-direction: column; */
        grid-gap: 10px 10px;
    }

    .form__fields input[type="text"] {
        width: 49%;
        padding: 10px 15px;
    }

    .form__fields .btn {
        width: 100%;
    }

    .form__field {
        font-size: 11px;
    }

    .form__data-processing > input.addition-checkbox, .form__data-processing > label {
        display: none;
    }

    .data-processing__content {
        margin-top: 0;
    }

    .form__data-processing {
        margin-top: 6px;
    }

    .data-processing__content--mobile {
        display: block;
    }
}

@media (max-width: 576px) {
    .connection > h2 {
        font-size: 18px;
    }

    .form__tubs {
        margin-top: 10px;
    }

    .form__tub label {
        font-size: 11px;
        padding: 7px 10px;
    }

    .form__fields input[type="text"] {
        width: 100%;
    }
}

/* Footer */

.section-footer {
    margin: 40px 0 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #2d2d2d1a;
    border-left: none;
    border-right: none;
    padding: 20px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    grid-gap: 60px;
    font-size: 14px;
    color: #C2C2C2;
}

.footer__social {
    display: flex;
    grid-gap: 10px 10px;
}

.footer__social-icon {

}

@media (max-width: 576px) {
    .section-footer {
        margin: 19px 0 29px 0;
    }

    .footer {
        padding: 10px 0 0 0;
        border-bottom: none;
    }

    .footer__logo img {
        width: 135px;
    }

    .footer__content {
        flex-direction: column;
        grid-gap: 5px;
        align-items: flex-start;
    }

    .footer__social {
        width: 50%;
        justify-content: flex-end;
        grid-gap: 5px;
    }

    .footer__social-icon {
        flex: none;
    }
}